<div class="item">
  <label for="name">Nome</label>
  <div>
    <input
      type="text"
      name="name"
      value="{{chef.name}}"
      id="name"
    >
  </div>
</div>

<div class="item">
  <label for="avatar">Avatar</label>
  <div>
    <input
      type="url"
      name="avatar_url"
      placeholder="https://"
      value="{{chef.avatar_url}}"
      id="avatar"
    >
  </div>
</div>
