<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% block head %}
    <title>Admin Foodfy</title>
  {% endblock %}

  <link rel="stylesheet" href="/admin.css">
</head>
<body>
  <header>
    <div class="wrapper header">
      <div class="logo">
        <a href="/admin/recipes">
          <img src="/assets/logo-white.png" alt="Foodfy" />
        </a>
      </div>
      <div class="links">
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
      </div>
    </div> 
  </header>

  {% block content %}{% endblock %}

  <script src="/scripts.js"></script>
</body>
</html>