@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	max-width: 940px;
	margin: 0 auto;
}

/*=== HEADER ===*/
header {
	margin: 32px 0;
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
}

.menu a {
	font-size: 16px;
	color: #111;

	margin-right: 30px;
	text-decoration: none;
}

/*=== HERO ===*/
.hero {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: #fbdfdb;
	border-radius: 30px;
}

.hero .intro {
	min-width: 320px;
	align-self: center;
	padding-left: 60px;
}

.hero .intro h1 {
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #111;
	margin-bottom: 10px;
}
.hero .intro p {
	color: rgba(0, 0, 0, 0.7);
	font-size: 18px;
}

.hero img {
	justify-self: center;
	margin-top: 66px;
}

/*=== MAIN ===*/
main {
	margin: 50px 0;
}

main h2 {
	font-size: 24px;
	color: #111;
	line-height: 28px;
	margin-bottom: 20px;
}

main .content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px 20px;
}

main .content img {
	width: 100%;
	border-radius: 15px;
	margin-bottom: 20px;
}

main .content h3 {
	font-size: 18px;
	line-height: 21px;
	color: #111;
	margin-bottom: 5px;
}

main .content p {
	font-size: 14px;
	line-height: 16px;
	color: #777;
}

/*=== FOOTER ===*/
footer {
	padding: 23px 0;
	background: #eee;
	font-size: 14px;
	color: #999;
	text-align: center;
}

/*=== MODAL ===*/
.modal-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	visibility: hidden;
}

.modal {
	background-color: #fff;
	width: 90%;
	max-width: 660px;
	min-height: 412px;
	margin: 10vh auto;
	position: relative;
	border-radius: 16px;
	padding: 30px;
}

.modal-content .card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 16px;
	margin-bottom: 20px;
}

.modal-content .card h3 {
	font-size: 24px;
	line-height: 28px;
	color: #111;
	text-align: center;
}

.modal-content .card p {
	font-size: 21px;
	line-height: 1.8;
	color: #777;
	text-align: center;
}

.modal-content button {
	font-size: 16px;
	color: #999;
	display: block;
	border: none;
	margin: 60px auto 0;
	padding: 5px 10px;
}

/*=== MODAL.ACTIVE ===*/
.modal-overlay.active {
	opacity: 1;
	visibility: visible;
}
