{% extends "user/layout.njk" %}

{% block head %}
  <title>Receitas Foodfy</title>
{% endblock %}

{% block content %}
	<main>
		<div class="content">
			{% for recipe in recipes %}
			<div class="card" id="{{recipe.id}}">
				<img
					src="{{recipe.image_url}}"
					alt="{{recipe.title}}"
				/>
				<h3>{{recipe.title}}</h3>
				<p>por {{recipe.author}}</p>
			</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}