{% extends "admin/recipes/layout.njk" %}

{% block content %}
<div class="wrapper">
  <div class="menu-edit">
    <h1>Criando receita</h1>
  </div>
  <form class="create-recipe" method="POST" action="/admin/recipes"> 
    {% include 'admin/recipes/fields.njk' %}
    <button type="submit" class="btn save-btn">Salvar receita</button>
  </form>
</div>
{% endblock content %}

