<div class="item">
  <label for="image-recipe">Imagem da receita</label>
  <div>
    <input
      type="url"
      name="image_url"
      placeholder="https://"
      value="{{recipe.image}}"
      id="image-recipe"
    >
  </div>
</div>

<div class="item">
  <label for="title">Título da receita</label>
  <div>
    <input
      type="text"
      name="title"
      value="{{recipe.title}}"
      id="title"
    >
  </div>
</div>

<div class="item">
  <label for="title">Chef</label>
  <div>
    <input
      type="text"
      name="author"
      value="{{recipe.author}}"
      id="author"
    >
  </div>
</div>

<div class="item">
  <label for="ingredients">Ingredientes</label>
  <div id="ingredients">
    <div class="ingredient">
      {% for ingredient in recipe.ingredients %}
        <input
          type="text"
          name="ingredients[]"
          value="{{ingredient}}"
        >
      {% else %}
        <input
          type="text"
          name="ingredients[]"
          value=""
        >
      {% endfor %}
    </div>
  </div>
  <button type="button" class="add-ingredient">
    Adicionar novo ingrediente
  </button>
</div>

<div class="item">
  <label for="preparation">Modo de preparo</label>
  <div id="preparation">
    <div class="step">
      {% for step in recipe.preparation %}
        <input
          type="text"
          name="preparation[]"
          value="{{step}}"
        >
      {% else %}
        <input
          type="text"
          name="preparation[]"
          value=""
        >
      {% endfor %}
    </div>
  </div>
  <button type="button" class="add-step">
  Adicionar novo passo
  </button>
</div>

<div class="item">
  <label for="extra-info">Informações adicionais</label>
  <textarea
    name="information"
    id="extra-info"
  >{{recipe.information}}</textarea>
</div>

<script>
  function addIngredient() {
    const ingredients = document.querySelector("#ingredients");
    const fieldContainer = document.querySelectorAll(".ingredient");

    const lastStep = fieldContainer[fieldContainer.length - 1].lastElementChild

    const newField = lastStep.cloneNode(true);

    newField.value = "";
    ingredients.appendChild(newField);
  }

  function addStep() {
    const preparation = document.querySelector("#preparation");
    const fieldContainer = document.querySelectorAll(".step");

    const lastStep = fieldContainer[fieldContainer.length - 1].lastElementChild

    const newField = lastStep.cloneNode(true);

    newField.value = "";
    preparation.appendChild(newField);
  }

    document
    .querySelector(".add-ingredient")
    .addEventListener("click", addIngredient);

    document
    .querySelector(".add-step")
    .addEventListener("click", addStep);
</script>
