{% extends "admin/recipes/layout.njk" %}

{% block content %}
<div class="wrapper">
  <main>
    <div class="menu-edit">
      <h1>Gerenciar receitas</h1>
      <a href="/admin/recipes/create">Criar receita</a>
    </div>
    <div class="grid-recipes">
      {% for recipe in recipes %}
      <div class="card" id="{{recipe.id}}">
        <img
          src="{{recipe.image}}"
          alt="{{recipe.title}}"
        />
        <div class="content">
          <h2>{{recipe.title}}</h2>
          <p>por {{recipe.author}}</p>
          <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
{% endblock %}