{% extends "admin/recipes/layout.njk" %}

{% block content %}
<div class="wrapper">
  <main>
    <div class="menu-edit">
      <h1>Gerenciar receitas</h1>
      <a href="/admin/recipes/create">Criar receita</a>
    </div>
    
    {% include "admin/parts/section-recipes.njk" %}

  </main>
</div>
{% endblock %}