{% extends "layout.njk" %}

{% block content %}
  <section class="hero">
    <div class="intro">
      <h1>As melhores receitas</h1>
      <p>
        Aprenda a construir os melhores pratos com receitas criadas por
        profissionais do mundo inteiro.
      </p>
    </div>
    <img src="/assets/chef.png" alt="" />
  </section>

  <main>
    <h2>Mais acessadas</h2>
    <div class="content">
      {% for recipe in recipes %}
      <div class="card food" id="{{recipe.id}}">
        <img
          src="{{recipe.image}}"
          alt="{{recipe.title}}"
        />
        <h3>{{recipe.title}}</h3>
        <p>{% if recipe %}por {% endif %}{{recipe.author}}</p>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}